body {
    font-family: 'open sans';
 }
 
 .Contenedor {
    padding: 30px 0;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
 }
 
 .Titulo {
    color: #090909;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
 }
 
 header {
    width: 100%;
    height: 400px;
    background: #aa4b6b;;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 39%, 48%, 0.419), hsla(240, 10%, 47%, 0.467), hsla(188, 44%, 42%, 0.474)), url(../chtm/portada2.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 39%, 48%, 0.419), hsla(240, 10%, 47%, 0.467), hsla(188, 44%, 42%, 0.474)), url(../chtm/Portada2.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    position: relative;
 }
 
 nav{
    text-align: right;
    padding: 30px 50px 0 0;
 }
 
 nav > a{
    color:#fff;
    font-weight: 400;
    text-decoration: none;
    margin-right: 10px;
 }
 
 nav > a:hover{
    text-decoration: underline;
 }
 
 header .Texto{
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 }
 
 .Texto h1{
    font-size: 50px;
    color:#fff;
 }
 
 .Texto h2{
    font-size: 30px;
    font-weight: 300;
    color:#fffb;
    width: 100%;
    height: 100%;
 }
 
 .Catalogos{
    background: #f2f2f2;
 }
 
 .Galeria-Port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }
 
 .Imagen-Port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 #00000080;
 }
 
 .Imagen-Port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
 }
 
 .Galeria{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   transform: scale(0);
   background: #a2a0a348;
   transition: transform .5s;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .Galeria img{
   width: 50px;
 }

 .Galeria p{
   color: #f2f2f2;
 }
 .Imagen-Port:hover {
   transform: scale(1.1);
   cursor: pointer;
 }
 
 .Imagen-Port:hover .Galeria{
   transform: scale(1);
 }

 .Servicios{
   background: #f2f2f2;
   padding-bottom: 30px;
 }

 .Contenedor-Servicios{
   display:flex;
   justify-content: space-between;
   align-items: center;
 }

 .Servicio-Individual{
   width: 30%;
   height: 30%;
   text-align: center;
 }

 .Servicio-Individual img{
   width: 300%;
 }

 .Servicio-Individual h3{
   margin: 10px 0;
 }

 .Servicio-Individual p{
   font-weight: 300%;
   text-align: center;
 }

footer{
   background: #161616;
   padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

 .Contenedor-Footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #fffbfb;
 }
 .Contenedor-Foo{
   margin-bottom: 20px;
   text-align: center;
 }
 
 .Contenedor-Foo h4{
    text-align: center;
    color: azure;
    border-bottom: 3px solid #3c8e9a79;
    padding-bottom: 5px;
    margin-bottom: 10px;
 }

 .Contenedor-Foo p{
   text-align: center;
   color: #ffffff;
 }

 .Contenedor-Foo a{
   text-align: center;
   color: #ffffff;
   text-decoration: none;
 }

 .Titulo-Final{
    text-align: center;
    font-size: 20px;
    margin: 15px 0 0 0;
    color: #646464;
 }

.carousel__contenedor {
	position: relative;
}
/*
.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: rgb(0, 0, 0);
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: +1px;
}

.carousel__siguiente {
	right: +1px;
}*/

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__elemento img{
   width: 85%;
   height: 88%;
   object-fit: cover;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #8a8989;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width:900px)
{
   header{
      background-position: center;
   }

   .Imagen-Port{
      width: 44%;
  }

  .Contenedor-Servicios{
   justify-content: center;
   flex-direction: column;
}

.Servicio-Individual{
   width: 100%;
   text-align: center;
}

.Servicio-Individual:nth-child(1), .Servicio-Individual:nth-child(2){
   margin-bottom: 60px;
}

.Servicio-Individual img{
   width: 90%;
}

@media screen and (max-width:500px){
   nav{
       text-align: center;
       padding: 30px 0 0 0;
   }

   nav > a{
       margin-right: 5px;
   }

   .imagen-port{
      width: 95%;
   }

   .Texto h1{
       font-size: 35px;
   }

   .Texto h2{
       font-size: 20px;
   }
   .Contenedor-Footer{
      flex-direction: column;
      border: none;
  }

  .Contenedor-Foo{
      margin-bottom: 20px;
      text-align: center;
  }

  .Contenedor-Foo h4{
      border: none;
  }

  .Contenedor-Foo p{
      color: #ccc;
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 20px;
  }

  .Titulo-Final{
      font-size: 20px;
  }
}
}